extends layout 
block main-content
  .contactUs 
    p.contactUsInfo If you have any queries contact us
    p.contactUsInfo Email: assassinsCreedMerch@gmail.com 
    p.contactUsInfo Office: Toronto Ontario Canada 
    p.contactUsInfo Telephone: +1 756 555 5557
    p.contactUsInfo Office hours: Monday to Friday 10AM to 8PM